<h2>All Buildings</h2>

<table>
  <tr>
    <th>Address</th>
    <th>Owner</th>
  </tr>
<% @buildings.each do |building| %>
<tr>
  <td><%= "#{building.street_address}, #{building.city}, #{building.state}" %></td>
  <td><%= building.owner_name %></td>
<% end %>
</table>

<br>
<ul class="links">
  <li><%= link_to 'Add Building', new_building_path %></li>
  <li><%= link_to 'Add Owner', new_owner_path %></li>
  <li><%= link_to 'View Owners', owners_path %></li>
</ul>
