<h2>Add New Building</h2>

<%= simple_form_for @building do |f| %>
  <%= f.input :street_address, label: 'Street Address' %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zip_code, label: 'Zip Code' %>
  <%= f.input :description %>
  <%= f.association :owner, collection: @owners %>
  <%= f.submit 'Create Building' %>
<% end %>

<br>
<%= link_to 'Back', buildings_path %>
